$cubic-bezier: cubic-bezier(0.19, 1, 0.22, 1);
// Long shadow
@function make_long_shadow($color) {
	$val: 0px 0px $color;

	@for $i from 1 through 20 {
		$color2: lighten($color, $i * 0.8);
		$val: #{$val}, #{$i}px #{$i}px #{$color2};
	}

	@return $val;
}

@mixin long_shadow($color) {
	text-shadow: make_long_shadow($color);
}

// Bold text shadow
@function make_text_shadow($color, $layers) {
	$val: 0px 0px 0px $color;

	@for $i from 1 through $layers {
		$color2: lighten($color, $i * 0.8);
		$val: #{$val}, 0px 0px 10px #{$color2};
	}

	@return $val;
}

@mixin text_shadow($color, $layers) {
	text-shadow: make_text_shadow($color, $layers);
}

@mixin transition($transition) {
	-webkit-transition: $transition !important;
	-moz-transition: $transition !important;
	-ms-transition: $transition !important;
	-o-transition: $transition !important;
	transition: $transition !important;
}

@mixin textShadow($text-shadow) {
	-webkit-text-shadow: $text-shadow;
	-moz-text-shadow: $text-shadow;
	-ms-text-shadow: $text-shadow;
	-o-text-shadow: $text-shadow;
	text-shadow: $text-shadow;
}

@mixin boxShadow($box-shadow) {
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	-ms-box-shadow: $box-shadow;
	-o-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}

@mixin NoUserSelect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

@mixin stagger-transition-delay($i, $initial-delay, $stagger-delay) {
	@while $i>0 {
		&:nth-of-type(#{$i}) {
			transition-delay: ($initial-delay + $stagger-delay * $i);
		}

		$i: $i - 1;
	}
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes onload {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes onload {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

[data-aos] {
	@for $i from 1 through 60 {
		body[data-aos-delay="#{$i * 50}"] &,
		&[data-aos][data-aos-delay="#{$i * 50}"] {
			animation-delay: #{$i * 50}ms;

			&.aos-animate {
				animation-delay: #{$i * 50}ms;
			}
		}
	}
}
